{% extends "base.html" %}

{% block main %}
<h1 class="page-header">TECHZEN</h1>
{% include 'flash_messages.html' %}

<p class="lead">The state of the SLBs website is not user-friendly and it possesses many flaws that 
    could be refined and be made more user-friendly and appealing to current users and potential users. 
    However, our goal is not only to redesign but to input additional features that will ensure the site is 
    not only scalable but will help in ensuring students have assistance in paying back their loans. 
    The overall look and feel of the site will be enhanced to allow better usability and a focus on effective 
    loan management and repayment strategies. Our system will also be scalable in terms of it primarily being a 
    loan system for students but also, persons can use this system to see how their loan would look and the 
    projected amount they would have to pay once they entered their various information as loans are calculated 
    at different interest rates depending on the type of loan the user is taking or is interested in. 
</p>
{% endblock %}
