{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Application Forms</h1>
{% include 'flash_messages.html' %}

<p class="lead">Choose a form to complete. You must complete all forms in order to submit your application.
</p>

<div class = "tableft">
    <!-- note to Larnelle, remove the hyperlink formatting from the button please -->
    <button type="submit" name="submit" class="btn btn-primary"><a class="removeunder" href="{{ url_for('loanApplication') }}" >Student Information</a></button>
</div>

<div class = "tableft">
    <!-- note to Larnelle, remove the hyperlink formatting from the button please -->
    <button type="submit" name="submit" class="btn btn-primary"><a class="removeunder" href="{{ url_for('guarantorForm') }}" >Guarantor Information</a></button>
</div>

<div class = "tableft">
    <!-- note to Larnelle, remove the hyperlink formatting from the button please -->
    <button type="submit" name="submit" class="btn btn-primary"><a class="removeunder" href="{{ url_for('universityForm') }}" >University Information</a></button>
</div>

{% endblock %}
