{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Graphical Analytics Form</h1>

{% include 'flash_messages.html' %}


{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('graphicalAnalytics') }}" method="post" enctype="multipart/form-data"> 
  {{ form.csrf_token }}
  
  {# Add the file upload field as you learnt for Flask-WTF #}
  <div class="form-group">
    {{ form.sid.label }} {{ form.sid(class="form-control") }}
    {{ form.loanamount.label }} {{ form.loanamount(class="form-control") }}
    {{ form.interestrate.label }} {{ form.interestrate(class="form-control") }}
    {{ form.loanid.label }} {{ form.loanid(class="form-control") }}
    
  </div>
  <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
  </div>


{% endblock %}